@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* nên */
body {
  min-height: 100vh;
  background-image: url('LienHe.jpeg');
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
}
/* nên tôi */

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header{
  margin-top: 60px;
  text-align: center;
}
.section-header {
  margin-bottom: auto;
  text-align: center;
}

/* thông tin liên hệ */
.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

/* hình */
.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #879dff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}
.contact-info-content h4 {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  width: 50%;
  padding-bottom:20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

/* input box */
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
/* chũ hiện lên */
.contact-form .input-box span {
  position: absolute;
  left: 10px;
  padding: -20px 0;
  font-size:10px;
  margin: 0;
  pointer-events: none;
  transition: 0.9s;
  color: #666;
}

/* chữ */
.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #ff640b;
  font-size: 13px;
  transform: translateY(-20px);
}
/* giữ */
.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #4abd14;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #4abd14;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #4abd14;
}

@media (max-width: 991px) {
  body{
    font-size: smaller;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
/* trở về bt */
.backicon{
  width: 40px;
  position: absolute;
  margin-left: 40px;
}

@media (max-width: 425px){
  .backicon {
    width: 25px;
    margin-left: 20px;
  }
  .header {
    font-size: 12px;
  }
}